APP_NAME=Kurir Toko API
APP_ENV=development
GRAPHHOPPER_API_KEY=
ORS_API_KEY=
LOCATIONIQ_API_KEY=
GLOBAL_PRICING_BASE_FEE=0
GLOBAL_PRICING_COST_PER_KM=1500
GLOBAL_PRICING_MINIMUM_FEE=0
GLOBAL_PRICING_ROUTE_VEHICLE_TYPE=MOBIL
